.card_container {
  padding: 20px 20px 20px 100px;
  min-width: 500px;
  max-width: 500px;
  min-height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
  margin: 0 20px;

  @media (max-width: 1000px) {
    min-width: 80vw;
  }
}

.user_image {
  border-radius: 50%;
  border: 1px solid #ccc;
}

.data {
  padding-left: 20px;
}

.data span {
  font-weight: bold;
}
