* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  background-color: #0d1117;
}

.main-container {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
