.historic_container {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
}

.btn_clear {
  padding: 10px;
  border: 1px solid #f2f2f2;
  color: #fff;
  transition: 0.4s;
  background-color: #536b93;
  border-radius: 5px;
}

.btn_clear:hover {
  color: #0d1117;
  background-color: #f2f2f2;
  border-color: #0d1117;
}

.card_link {
  text-decoration: none;
}
